.country-card {
  .search {
    input {
      border-radius: 20px;
      width: 100%;
      padding: 4px 17px;
    }
  }
  .countries {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #00938f transparent !important;
    scrollbar-width: thin !important;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    &__single {
      display: flex;
      justify-content: space-between;
      margin-inline-end: 8px;
      margin-inline-start: 8px;
      &__name {
        &__title {
          font-size: 18px;
          font-weight: 500;
          color: #757e8d;
        }
      }
      &__total {
        font-size: 18px;
        font-weight: 500;
        color: #183444;
      }
    }
  }
}
