<mat-toolbar color="primary">
    <span class="title-nav text-white">Global COVID-19 Tracker </span>
    <div class="nav-tabs-container">
        <!-- <a class="nav-tab" routerLinkActive="active-tab" routerLink="./booking">Booking From</a>
        <a class="nav-tab" routerLinkActive="active-tab" routerLink="./admin"
            [routerLinkActiveOptions]="{ exact: true }" *ngIf="islogged">Dashbored</a>
        <a class="nav-tab" routerLinkActive="active-tab" routerLink="./admin/Kulliyya/Kulliyyas" *ngIf="islogged"
            [routerLinkActiveOptions]="{ exact: true }">Kulliyyas</a> -->
    </div>
    <span class="spacer"></span>
    <a class="nav-tab" (click)="onLogout()">
        Log out
    </a>
</mat-toolbar>