@import "~@angular/material/theming";
@include mat-core();

$bv-turquoise: (
  50: #183444,
  contrast: (),
);

$primary: mat-palette($bv-turquoise, 50);
$accent: mat-palette($mat-orange, 200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
